@model web_1.Models.Person
﻿@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@{
 
}
@if (TempData["basarsiz_Create"] is not null)
{
    <div class="alert alert-danger">@TempData["basarsiz_Create"]</div>
} 





<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="Create">
                    <div class="form-outline mb-4">
                        <pr></pr>
                        <pr></pr>
                        <pr></pr> 
                   
                    </div>
                    <div class="form-outline mb-4">
                        <input asp-for="ad" placeholder="Adınız girin" class="form-control" type="text" />
                        <label asp-for="ad" for="form3Example3"></label>
                        <span asp-validation-for="ad" class="text-danger"></span>
                    </div>


                    <div class="form-outline mb-4">
                        <input asp-for="soyad" placeholder="Soyadınız girin" class="form-control" type="text" />
                        <label asp-for="soyad" for="form3Example3"></label>
                        <span asp-validation-for="soyad" class="text-danger"></span>
                    </div>

                    <div class="form-outline mb-4">
                        <input asp-for="telefon" placeholder="Geçerli bir Telefon Numarası girin" class="form-control" type="text" />
                        <label asp-for="telefon" for="form3Example3"></label>
                        <span asp-validation-for="telefon" class="text-danger"></span>
                    </div>


                    <div class="form-outline mb-4">
                        <input asp-for="dogum_tarihi" placeholder="Doğum Tarihiniz girin" class="form-control" type="date" />
                        <label asp-for="dogum_tarihi" for="form3Example3"> </label>
                        <span asp-validation-for="dogum_tarihi" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <input asp-for="gmail" placeholder="Geçerli bir e-posta adresi girin" class="form-control" type="email" />
                        <label asp-for="gmail" type="email" for="form3Example3"></label>
                        <span asp-validation-for="gmail" class="text-danger"></span>
                    </div>


                    <div class="form-outline mb-4">
                        <input asp-for="sifre" placeholder="Geçerli bir şifre girin" class="form-control" type="password" />
                        <label asp-for="sifre" for="form3Example3"></label>
                        <span asp-validation-for="sifre" class="text-danger"></span>
                    </div>

       

                    <div class="text-center text-lg-start mt-4 pt-2">
                      
                        <div class="form-group">
                            <input type="submit" value="@localizer["signup"]" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
</section>