@model IEnumerable<EfCore2C.Models.Sehir>






            

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="SeferBilgileri">
                    <div class="form-outline mb-4">
                        <pr></pr>
                        <pr></pr>
                        <pr></pr> 
                   
                    </div>
                    <div class="text-center">



                        <label type="email" for="form3Example3">Kalkiş Noktası</label>

                        <select id="select-state" placeholder="Pick a state...">
                            <option value="">Select a state...</option>
                            @foreach (var label in Model)
                            {
                                <option value="@label.sehir_id">@label.sehir_adi</option>
                            }

                        </select>
                        <label type="email" for="form3Example3">Varış Noktası</label>

                        <select id="select-state2" placeholder="Pick a state...">

                            <option value="">Select a state...</option>
                            @foreach (var label in Model)
                            {
                                <option value="@label.sehir_id">@label.sehir_adi</option>
                            }

                        </select>

                        <br />


                        @section scripts{
                            <script>

                                $(document).ready(function () {
                                    $('#select-state').selectize();
                                    $('#select-state2').selectize();
                                });
                            </script>


                        }
                    <div class="form-outline mb-4">
                            <label type="email" for="form3Example3">Yolculuk Tarihi</label>

                        <input   class="form-control" type="datetime-local" />
                        <span class="text-danger"></span>
                    </div>




                    <div class="text-center text-lg-start mt-4 pt-2">
                      
                        <div class="form-group">
                            <input type="submit" value="Giriş" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
</section>
