@model List<web_1.ViewModels.kartlarModels>
<!DOCTYPE html>
<html lang="en">
<head>
  
   
</head>
<body>
    

<div class="card text-center">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <img src="images/cancelled.png"/>
        <h5 class="card-title">Bilet yok malesef </h5>
        <a onclick="history.back(-1)" class="link-button link-back-button">yineden ara</a>

    </div>
</div>
</body>
</html>
