@model web_1.Models.Sefer

@{
    Layout = "_AdminLayout";
}

<h1>Edit</h1>

<h4>Sefer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sefer_id" class="control-label"></label>
                <input asp-for="sefer_id" readonly class="form-control" />
                <span asp-validation-for="sefer_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="kalkis_tarihi" class="control-label"></label>
                <input asp-for="kalkis_tarihi" type="date" class="form-control" id="kalkisSaatiInput" />
                <span asp-validation-for="kalkis_tarihi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="varis_tarihi" class="control-label"></label>
                <input asp-for="varis_tarihi" type="date" class="form-control" id="kalkisSaatiInput" />
                <span asp-validation-for="varis_tarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kalkis_saati" class="control-label"></label>
                <input asp-for="kalkis_saati" class="form-control" />
                <span asp-validation-for="kalkis_saati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="varis_saati" class="control-label"></label>
                <input asp-for="varis_saati" class="form-control" />
                <span asp-validation-for="varis_saati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kalkis_havalimani_id" class="control-label"></label>
                <input asp-for="kalkis_havalimani_id" class="form-control" />
                <span asp-validation-for="kalkis_havalimani_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="varis_havalimani_id" class="control-label"></label>
                <input asp-for="varis_havalimani_id" class="form-control" />
                <span asp-validation-for="varis_havalimani_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firma_id" class="control-label"></label>
                <input asp-for="firma_id" class="form-control" />
                <span asp-validation-for="firma_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
