
@{
    Layout = "_AdminLayout";
    
    
}



<h1>Admin Panel</h1>

<p>Peeson Create <a href="https://localhost:7250/Person/Create"> Click me </a></p>
<p>Peeson Create <a href="https://localhost:7250/Person/Giris"> Click me </a></p>
