@using web_1.ViewModels
@model RezervarsyonAndSeferModels

@{
    Layout = "_AdminLayout";
}


<h1>Create</h1>

<h4>Rezervasyon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="rezervasyons.rezervasyon_id" class="control-label"></label>
                <input asp-for="rezervasyons.rezervasyon_id" class="form-control" />
                <span asp-validation-for="rezervasyons.rezervasyon_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rezervasyons.sefer_id" class="control-label"></label>
                @{if(Model.sefer_id !=0)
               { <input asp-for="rezervasyons.sefer_id" value="@Model.sefer_id" class="form-control" />}
                else{ <input asp-for="rezervasyons.sefer_id"  class="form-control" />}}
                <span asp-validation-for="rezervasyons.sefer_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rezervasyons.rezervasyonTipi" class="control-label"></label>
                <input asp-for="rezervasyons.rezervasyonTipi" class="form-control" />
                <span asp-validation-for="rezervasyons.rezervasyonTipi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rezervasyons.koltuk_sayisi" class="control-label"></label>
                <input asp-for="rezervasyons.koltuk_sayisi" class="form-control" />
                <span asp-validation-for="rezervasyons.koltuk_sayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rezervasyons.sefer_fiati" class="control-label"></label>
                <input asp-for="rezervasyons.sefer_fiati" class="form-control" />
                <span asp-validation-for="rezervasyons.sefer_fiati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
